{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>
    
    <div class="grid-row">
      <div class="column-two-thirds">

        <a class="link-back" href="javascript:history.go(-1)">Back</a>

        <header class="page-header">
          <p class="page-header--sub heading-secondary">Service name</p>
          <h1 class="page-header--lede heading-large">What is your date of birth?</h1>
        </header>

        <form action="#" class="form" method="get">

          <fieldset class="form-group">
            <legend class="visuallyhidden">What’s your email address?</legend>
            <p class="form-hint">For example, 31 3 1980</p>

            <div class="form-date">
              <div class="form-group form-group-day">
                <label for="dob-day">Day</label> <input class="form-control" id="dob-day" max="31" min="0" name="dob-day" pattern="[0-9]*" type="number">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">Month</label> <input class="form-control" id="dob-month" max="12" min="0" name="dob-month" pattern="[0-9]*" type="number">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label> <input class="form-control" id="dob-year" max="2014" min="0" name="dob-year" pattern="[0-9]*" type="number">
              </div>

            </div>
          </fieldset>

          <div class="form-group">
            <input class="button" type="submit" value="Continue">
          </div>

        </form>

      </div>
    </div>

</main>

{% endblock %}
