{% extends "layout_bsa.html" %}
 
{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="done-panel">
          <h1 class="heading-xlarge"><span id="done-tick"></span>Done</h1>
          <h2 class="heading-large"><span class="heading-secondary">Reference number</span> K5G-V78</h2>
        </div>

        <h2 class="heading-medium">What happens next</h2>
        <p>We'll review and process your application and let you know the outcome by post. This can take up to 18 working days.</p>

        <h3 class="heading-small">Before you go</h3>
        <p>Help us to improve the service by <a href="feedback">answering some questions</a> about it.</p>

      </div>
    </div>

  </main>

{% endblock %}
