{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

               <header class="page-header">
            <p class="page-header--sub heading-secondary">Service name</p>
            <h1 class="page-header--lede heading-large">Do you like cheese?</h1>
            </header>

<form action="did-you-handler" method="get" class="form">

          <div class="form-group">

            <fieldset class="inline">
              <legend class="visually-hidden">
              </legend>

              <div class="multiple-choice">
                <input id="yes" type="radio" name="exemption" value="yes">
                <label for="yes">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="no" type="radio" name="exemption" value="no">
                <label for="no">No</label>
              </div>

          </fieldset>  

          </div>

          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>

          <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

        </form>
    </div>
    </div>
</main>
</main>

{% endblock %}













