@import 'unbranded';

//body {
//  color: #555;
//}

// PPC
$break-small: 640px;
$break-medium: 768px;

@mixin res_inputs($width) {
  @media screen and (max-width: $width) {
    width: 100%;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

h3.heading-medium {
  margin-top: 30px;
}

$nhs-blue: #005EB8;

body {
  color: #333333;
}

#global-header {
  height :170px;
  background: url('/public/images/bsa/header-bsa.svg') transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 170px;
  @media screen and (max-width: $break-small) {
    height: auto;
    background: transparent;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .header-wrapper {
    background: transparent;
  }
  #bsa-logo {
    width: 300px;
    margin: 20px 15px 0 0;
    max-width: 100%;
    float: right;
    @media screen and (max-width: $break-small) {
      width: 92%;
      margin: 0;
      max-width: 100%;
      float: right;
      padding: 5% 4% 0;
    }
  }
}

//done-page

.done-panel {
  background-color: $nhs-blue;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 30px 0;
  h1 {
    padding-top: 0;
    margin: 0;
  }
  h2 {
    line-height: 145%;
    font-size: 135%;
    padding-top: 0;
    margin: 10px 0 5px 0;
  }
}

#done-tick {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 4px 20px 4px 4px;;
  background-color: $nhs-blue;
  background-image: url('/public/images/bsa/done-tick.png');
  background-repeat: no-repeat;
  background-position: center;
}

.details {
  p {
    margin: 0;
    padding: 0;
  }
  h2 span {
    font-size: 19px;
    font-weight: normal;
    width: 55px;
    display: inline-block;
  }
  .valid {
    margin-top: 15px;
  }
  background-color: rgba($nhs-blue, 0.1);
  padding: 0 15px 15px 15px;
  margin-bottom: 30px;
}

.info-table {
  span {
    float: right;
    width: 60%;
  }
}

.options-list {
  li {
    margin: 30px 0;
    width :100%;
  }
}

.print-icon {
  background-image: url("/public/images/bsa/print-2x.svg");
  padding-left: 40px;
}

.download-icon {
  background-image: url("/public/images/bsa/download-2x.svg");
  padding-left: 37px;
  margin-left: 3px;
}

.strong {
  font-weight: bold;
}

//payments
//payments
.card-images img {
  height: 35px;
}

.original-accepted {
  position: relative;
  max-width: 340px;
  margin-bottom: 0px;
  margin-top: 10px;
  z-index: 1;
}

.form-date .form-group {
  float: left;
  width: 50px;
  margin-right: 20px;
  margin-bottom: 0;
  clear: none;
}

.form-date .form-group input {
    width: 100%;
}

#security-number, #amount {
  width: 100px;
  float :left;
  margin-top: 10px;
}

#holdername {
  margin-top: 10px;
}

.card-image {
  max-height: 38px;
  padding-top: 10px;
  margin-left: 15px;
  vertical-align: middle;
  float :left;
}

.highlight {
  border: 10px solid #DEE0E2;
  background-color: #F8F8F8;
  padding: 15px;
  margin-top: 15px;
  h2 {
    margin-top :0;
  }
  h3 {
    margin-bottom: 20px;
  }
}

.info-panel {
  h3 {
    margin: 30px 0;
  }
  span {
    font-weight: bold;
    line-height :150%;
    width :100%;
    display: block;
    clear: both;
  }
  &.no-highlight {
    h2 {
      margin-top: 10px;
      &.head-2 {
        margin-top: 40px;
      }
    }
  }
}

.alert {
  border: 10px solid $nhs-blue;
  padding: 15px 15px 0;
  margin-top: 30px;
  h2 {
    margin-top :0;
  }
  h3 {
    margin-bottom: 20px;
  }
}

.payment-summary-small {
    border: 10px solid #DEE0E2;
    background-color: #F8F8F8;
    padding: 15px;
    margin-top: 30px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .payment-info {
    font-weight: 700;
  }
  .payment-amount {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

.form-date {
  .form-group {
    input {
      margin-top: 1rem;
    }
  }
}

td.strong {
  margin: 15px 0 ;
  width: 200%;
  display: block;
}

// Layout Styles
.right-floater {
  float: right;
  @media screen and (max-width: $break-medium) {
    float: left;
    width :100%;
    margin: 0 0 30px 0;
    .payment-summary-small {
      margin-top: 10px;
    }
  }
}

.left-floater {
  float: left;
}

.medium-width {
    width: 340px;
    @include res_inputs($break-small);
}

.max-width {
    width: 440px;
    @include res_inputs($break-small);
}


.table-head {
  margin: 40px 0 10px 0;
}

.real_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  td:last-child {
    text-align: right;
  }
  th, td {
    line-height: 200%;
    font-weight: 400;
    text-transform: none;
    padding: 0.6315789474em 1.0526315789em 0.4736842105em 0;
    text-align: left;
    color: #0b0c0c;
    border-bottom: 1px solid #bfc1c3;
    &:nth-child(1) {
      width: 44%;
    }
    &:nth-child(2) {
      width: 35%;
    }
    &:nth-child(3) {
      width: 15%;
    }
  }
}

.multiple-choice.nbg {
  background: none;
  &:hover {
    border: 1px solid white;
  }
}

.multiple-choice {
  background-color: #DEE0E2;
  border :1px solid white;
  padding-left :0;
  margin-bottom: 15px;
  min-height: 37px;
  &:first-child {
    margin-top: 10px;
  }
  &:hover {
    border :1px solid black;
  }
  [type=radio] + label::before {
    background-color: white;
    position: inherit;
    float: left;
    margin-left: -38px;
    margin-top :3px;
    width: 24px;
    height: 24px;
  }
  [type=radio] + label::after {
    left: 17px;
    top: 17px;
    border: 7px solid;
  }
  label {
    float: left;
    margin-left: 48px;
    padding-right: 25px;
  }
}


.multiple-radio {
  [type=checkbox] + label::before {
    background: white;
    top: 9px;
    left: 9px;
    width: 28px;
    height: 28px;
  }
  [type=checkbox] + label::after {
    top: 19px;
    left: 17px;
    width: 13px;
    height: 5px;
    border-width: 0 0 4px 4px;
  }
  label {
    margin-top: 5px;
    margin-left: 52px;
  }
}

.inline {
  .multiple-choice {
    label {
      line-height: 195%;
    }
  }
}

.single-line {
   line-height: 175%;
 }

.form-break {
  margin-bottom: 0;
  p {
    margin: 0px 0px 6px 0px;
  }
  h3 {
    margin: 25px 0px 6px 0px;
  }
}

.button {
  padding-bottom: 10px;
}

.form-date .form-group-year {
    width: 70px;
}

.done-info {
  margin-top: 35px;
  margin-bottom: 35px;
}

.heading-group {
  p {
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 110%;
  }
  .heading-xlarge, .heading-large {
    margin: 0;
    padding: 0;
  }
  margin: 30px 0 23px 0;
}

.stack-panel {
  margin-bottom: 30px;
}

//footer
.unbranded {
  #footer {
    height: auto;
    background-color: #dee0e2;
    .footer-wrapper {
      padding-top: 60px;
      background-color: #dee0e2;
      margin: 0 auto;
      max-width: 960px;
    }
    .footer-meta {
      padding-bottom: 60px;
      clear: both;
      font-size: 0;
      p, li {
        font-size: 15px;
        line-height: 1.5;
      }
      .calls {
        margin: 15px 0;
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.nbg label {
  margin-top: -13px;
}

.pound p {
  float : left;
  line-height :20%;
  padding-top : 23px;
  padding-right: 10px;
}

//alpha banner
.phase-banner .phase-tag {
  padding-bottom: 3px;
  background-color: $nhs-blue;
}

.heavy-border {
  border-bottom: 4px solid $nhs-blue;
}

.light-border {
  border-bottom: 1px solid #D1D3D4;
}

.time-to-pay {
  background-color: #DBE5F4;
  margin-top: 30px;
  padding: 15px 15px 15px 75px;
  background-image: url(../images/bsa/important.svg);
  background-repeat: no-repeat;
  background-size: 4%;
  background-position: 19px 19px;
  p {
    padding: 0;
    margin: 0;
  }
}

.info-list {
  p, h3 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    line-height: 19px;
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 0px;
    padding-top: 0;
    &.heading-medium {
      font-size: 22px;
    }
  }
  margin-top :30px;
}

.highlight-panel {
  background-color: #D9D9D9;
    h3 {
    padding: 30px 0 10px 20px;
  }
  div {
    padding: 0 20px 20px;
    margin-top: 20px;
    p {
      width :100%;
      display: block;
      span {
        text-align: right;
        float: right;
      }
    }
  }
}

.topay {
    padding: 0 20px 7px 0;
    margin-top: 20px;
    p {
      width :100%;
      display: block;
      span {
        text-align: right;
        float: right;
      }
    }
  }



.table-head {
  margin: 40px 0 10px 0;
}

.real_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    td:last-child {
      text-align: right;
    }
    th, td {
      line-height: 200%;
      font-weight: 400;
      text-transform: none;
      padding: 0.6315789474em 1.0526315789em 0.4736842105em 0;
      text-align: left;
      color: #0b0c0c;
      border-bottom: 1px solid #bfc1c3;
      &:nth-child(1) {
        width: 44%;
      }
      &:nth-child(2) {
        width: 35%;
      }
      &:nth-child(3) {
        width: 15%;
      }
    }
}

.review {
  margin-top: 60px;
  margin-bottom: 30px;
  .review-row {
    @include clearfix;
    border-bottom: 1px solid $border-colour;
    margin-top :15px;
    div {
      display: block;
      width: 35%;
      margin-right: 5%;
      float: left;
      @media screen and (max-width: 640px) {
        width: 100%;
        margin-right: 0%;
        p {
          margin-bottom : 5px;
        }
      }
      &:nth-child(1) {
        p {
          font-weight :bold;
        }
        @media screen and (max-width: 640px) {
          width: 100%;
          margin-right: 0%;
          border-bottom: none;
        }
      }
      &:nth-child(2) {
        width: 35%;
        @media screen and (max-width: 640px) {
          width: 100%;
          margin-right: 0%;
          margin-bottom: 0;
          line-height: 100%;
          border-bottom: none;
        }
      }
      &:nth-child(3) {
        width: 20%;
        margin-right: 0%;
        p {
          float: right;
          text-align: right;
        }
        @media screen and (max-width: 640px) {
          width: 100%;
          margin-right: 0%;
          margin-bottom : 15px;
          p{
            float: left;
            text-align: left;
          }
        }
      }
    }
  }
}

.bold-number{
  font-weight: bold;
}

.small-text{
  font-size: 17px;
}

.highlighted {
  li {
    margin-bottom :10px;
    span {
      display: block;
      font-weight: bold;
      clear: left
    }
  }
}


.link-back {
  margin-top: 30px;
  margin-bottom: 0;
}

.or-block {
  margin-bottom: 0;
  font-size: 110%;
}

.tick{
  padding-top: 15%;
}

#textarea {
  width: 80%;
  height: 200px;
  resize: none;
}

.chargesTable tr td:nth-child(1) {
    width: 86%;

    padding-right: 0;
}

.contactTable tr td:nth-child(1) {
    width: 40%;
    font-weight: 700;
    padding-right: 0;
    vertical-align: top;
}

.contactTable tr td:nth-child(2) {
    width: 60%;
    font-weight: 100;
    padding-right: 0;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    background: #0b0c0c;
    color: #fff;
    font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin: 0.5em 0em 0em 1em;
  }
// Task list pattern

// Override column width for tablet and up
.column-minimum {
  @include media(tablet) {
    min-width: 600px;
  }
}

// Spacing to the left of the task list
$task-list-indent: 35px;

.task-list {
  margin-top: $gutter;
  @include media(tablet) {
    margin-top: ($gutter * 2);
  }
}


.task-list-section {
  display: table;

  @include bold-24;
  padding-bottom: ($gutter / 6);
}

.task-list-section-number {
  display: table-cell;
  padding-right: ($gutter / 6);

  @include media(tablet) {
    min-width: $task-list-indent;
    padding-right: 0;
  }
}


.task-list-items {
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-bottom: ($gutter * 2);
  }

  @include media(tablet) {
    padding-left: $task-list-indent;
  }
}

.task-list-item {
  border-bottom: 1px solid $border-colour;
  padding-top: $gutter-one-third;
  padding-bottom: $gutter-one-third;
  @extend %contain-floats;
}

.task-list-item:first-child {
  border-top: 1px solid $border-colour;
}


.task-name {
  width: $two-thirds;
  float: left;
}

.task-completed {
  @include phase-tag;

  float: right;
  margin-right: 0;
  padding:1px 5px 4px;
  padding-top: 3px;
}

.heading-group {
  p {
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 110%;
  }
  .heading-xlarge, .heading-large {
    margin: 0;
    padding: 0;
  }
  margin: 40px 0 23px 0;
}


.page-header {
  clear: both;
  display: table;
  margin-top: 1.8em; }

.page-header .heading-large {
  margin: .15em 0 1.25em; }

.page-header .heading-secondary {
  display: table-header-group;
  margin-bottom: 0;
  color: #6f777b;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.11111;
  text-transform: none; }

@media screen and (min-width: 641px) {
  .page-header .heading-secondary {
    font-size: 27px;
    line-height: 1.11111;
    padding-bottom: 6px;
    padding-top: 4px; } }

    .tabs {
border-bottom: 1px solid #bfc1c3;
  height: 45px;
}

.tabs-content {
  clear: both;
}

@media (min-width: 641px) {
.tabs-content .tabs-panel {
    border-top: 1px solid #bfc1c3;
  }
}

.tabs-content .tabs-panel[aria-hidden="true"] {
  display: none;
}

.tabs-content .tabs-panel-inner {
  padding-top: 10px;
}

.tabs-content .tabs-panel-inner:focus {
  border: 0;
  outline: 0;
}

.tabs-nav .tabs-list {
  border-top: 1px solid #bfc1c3;
  margin: 0;
}

@media (min-width: 641px) {
.tabs-nav .tabs-list {
    border-top: 0 none;
  }
}

.tabs-nav .tabs-list li {
  font-family: Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  border-bottom: 1px solid #bfc1c3;
  margin: 0;
}

@media (min-width: 641px) {
.tabs-nav .tabs-list li {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
.tabs-nav .tabs-list li {
    border-bottom: 0 none;
    float: left;
    margin: 0 0 -1px;
    padding: 0;
  }
}

.tabs-nav .tabs-list li a {
  background-color: #fff;
  display: block;
  padding: 0.4736842105em;
  text-decoration: none;
}

.tabs-nav .tabs-list li a:focus {
  outline: 3px;
}

@media (min-width: 641px) {
.tabs-nav .tabs-list li a {
    background-color: #dee0e2;
    border: 0 none;
    float: left;
    margin: 0.2631578947em 0.2631578947em 0.2631578947em 0;
    padding: 0.4736842105em 1em;
    text-align: center;
  }
}

.tabs-nav .tabs-list li [aria-selected="true"] {
  background-color: #fff;
  color: #333333;
  cursor: default;
  text-decoration: none;
}

@media (min-width: 641px) {
.tabs-nav .tabs-list li [aria-selected="true"] {
    border: 1px solid #bfc1c3;
    border-bottom: 1px solid transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.6842105263em 0.9473684211em 0.7368421053em;
  }
}

.tabs1 {
border-bottom: 1px solid #bfc1c3;
  height: 45px;
}

.tabs1-content {
  clear: both;
}

@media (min-width: 641px) {
.tabs1-content .tabs1-panel {
    border-top: 1px solid #bfc1c3;
  }
}

.tabs1-content .tabs1-panel[aria-hidden="true"] {
  display: none;
}

.tabs1-content .tabs1-panel-inner {
  padding-top: 10px;
}

.tabs1-content .tabs1-panel-inner:focus {
  border: 0;
  outline: 0;
}

.tabs1-nav .tabs1-list {
  border-top: 1px solid #bfc1c3;
  margin: 0;
}

@media (min-width: 641px) {
.tabs1-nav .tabs1-list {
    border-top: 0 none;
  }
}

.tabs1-nav .tabs1-list li {
  font-family: Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  border-bottom: 1px solid #bfc1c3;
  margin: 0;
}

@media (min-width: 641px) {
.tabs1-nav .tabs1-list li {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
.tabs1-nav .tabs1-list li {
    border-bottom: 0 none;
    float: left;
    margin: 0 0 -1px;
    padding: 0;
  }
}

.tabs1-nav .tabs1-list li a {
  background-color: #fff;
  display: block;
  padding: 0.4736842105em;
  text-decoration: none;
}

.tabs1-nav .tabs11-list li a:focus {
  outline: 3px;
}

@media (min-width: 641px) {
.tabs1-nav .tabs1-list li a {
    background-color: #dee0e2;
    border: 0 none;
    float: left;
    margin: 0.2631578947em 0.2631578947em 0.2631578947em 0;
    padding: 0.4736842105em 1em;
    text-align: center;
  }
}

.tabs1-nav .tabs1-list li [aria-selected="true"] {
  background-color: #fff;
  color: #333333;
  cursor: default;
  text-decoration: none;
}

@media (min-width: 641px) {
.tabs1-nav .tabs1-list li [aria-selected="true"] {
    border: 1px solid #bfc1c3;
    border-bottom: 1px solid transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.6842105263em 0.9473684211em 0.7368421053em;
  }
}

// Recommended - Use these styles for the check your answers pattern
.govuk-check-your-answers {

  @include media(desktop) {
    display: table;
  }

  > * {
    position: relative;
    border-bottom: 1px solid $border-colour;

    @include media(desktop) {
      display: table-row;
      border-bottom-width: 0;
    }

    > * {
      display: block;

      @include media(desktop) {
        display: table-cell;
        border-bottom: 1px solid $border-colour;
        padding: em(12, 19) em(20, 19) em(9, 19) 0; // copied from Elements' td padding
        margin: 0;
      }
    }

    @include media(desktop) {
      &:first-child > * {
        padding-top: 0;
      }
    }
  }

  .cya-question {
    font-weight: bold;
    margin: em(12, 19) 4em em(4,19) 0;
    // top: from Elements' td
    // right: due to length of "change" link (adjust if you change the link to be much longer)
    // bottom: by eye
    // using margin instead of padding because of easier absolutely positioning of .change
  }

  > *:first-child .cya-question {
    margin-top: 0;
  }

  @include media(desktop) {
    // to make group of q&a line up horizontally (unless there is just one group)
    &.cya-questions-short,
    &.cya-questions-long {
      width: 100%;
    }

    // recommended for mostly short questions
    &.cya-questions-short .cya-question {
      width: 30%;
    }

    // recommended for mostly long questions
    &.cya-questions-long .cya-question {
      width: 50%;
    }
  }

  .cya-answer {
    padding-bottom: em(9, 19); // from Elements' td
  }

  .cya-change {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;

    @include media(desktop) {
      position: static;
      padding-right: 0;
    }
  }

}






