{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main">
  <a href="javascript:history.go(-1)" class="link-back">Back</a>
  
  <div class="grid-row">
    <div class="column-two-thirds">
     
      <form action="country-handler" method="get" class="form">
       
        <h1 class="heading-large">
          Which country do you live in? 
        </h1>
        
        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">
              Which country do you live in?
            </legend>
<!--England-->
            <div class="multiple-choice" data-target="gp-england">
              <input id="englandBeta" type="radio" name="countryBeta" value="englandgp">
              <label for="englandBeta">England</label>
            </div>
            
<!--Scotland-->
            <div class="multiple-choice" data-target="highlands">
              <input id="scotlandBeta" type="radio" name="countryBeta" value="scotlandgp">
              <label for="scotlandBeta">Scotland</label>
            </div>
                 
<!--Wales-->
            <div class="multiple-choice">
              <input id="walesBeta" type="radio" name="countryBeta" value="walesgp">
              <label for="walesBeta">Wales</label>
            </div>
            
<!--Northern Ireland-->
            <div class="multiple-choice">
              <input id="northernIrelandBeta" type="radio" name="countryBeta" value="northernIrelandgp">
              <label for="northernIrelandBeta">Northern Ireland</label>
            </div>
            
          </fieldset>
        </div>
        
<!--submit button-->
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>
        
      </form>
    </div>
  </div>
</main>

{% endblock %}







