{% extends "layout_bsa.html" %}
 

{% block page_title %}
Eligibility Checker
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <h1 class="heading-large">
    Do you live with a partner?
  </h1>

  <p>This means you live together as a couple, you don't have to be married or in a civil partnership.</p>


  <form action="partner-handler" method="get" class="form">

       <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you live with a partner?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="partner" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="partner" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>
    </div>
    </div>
</main>

{% endblock %}







