{% extends "layout_bsa.html" %}
 
{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<style>
    .after-list{
      Padding-top:1em;
    }

</style>

<main id="content" role="main">
 
  <div class="grid-row">
    <div class="column-two-thirds">
    
        <h1 class="heading-xlarge">Check what help you could get to pay for NHS costs</h1>

        
        <p class="intro-to-list">
          Although most NHS treatment is free, there is usually a charge for: </p>

        <ul class="list list-bullet">
          <li>
            NHS prescriptions
          </li>
          <li>
            NHS dental check-ups and treatment
          </li>
          <li>
            sight tests
          </li>
          <li>
            new glasses or contact lenses
          </li>
          <li>
            repairing or replacing your glasses or contact lenses
          </li>
          <li>
            NHS wigs
          </li>
          <li>
            NHS fabric supports- things like surgical bras, support tights and spinal supports
          </li>
          <li>
            travel for NHS treatment
          </li>
        </ul>
        
        
        <p class="after-list">You could be entitled to help with these costs depending on your circumstances.</p>

        <div class="panel panel-border-wide" style="padding:0.5rem 2rem 1rem 1rem; margin-bottom:2rem;">
          <p class="heading-small">It should take about 3 minutes to check</p>
        </div>
        <p>
          <a class="button button-get-started" href="country" id="next">Start</a>
        </p>

    </div>
  </div>
</main>

{% endblock %}
