s{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Eligibility Checker
{% endblock %}

{% block content %}

<style>span.hint {
    color: #6f777b;
}</style>

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">



             <form action="uc-type-handler" method="get" class="form">
               <!--<h1 class="heading-large">Does {{jointortext}} {{parenttext}} Universal Credit include a payment for any of these?</h1> -->
               <h1 class="heading-large" id="question-heading">
                <span>As part of your joint Universal Credit, do you have any of these?</span>  
              </h1>

      <ul class="list-bullet">
          <li>Responsibility for a child or young person who lives with you</li>
          <li>Limited capability for work (LCW)</li>
          <li>Limited capability for work and work related activity (LCWRA)</li>
      </ul>
<br>

  <div class="form-group">
  
          <fieldset class="inline">
            <legend class="visually-hidden">
              Does {{jointOrText}} Universal Credit include either of these payments?
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="ucElement" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="ucElement" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
          <div class="form-group">
            <input class="button" type="submit"  value="Next">
          </div>

      </form>

      </div>
    </div>


</main>


{% endblock %}






