{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Eligibility Checker
{% endblock %}

{% block content %}

<style>
.heading-no-margin{
  margin-top:0em;
}
    .column-half {
            border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    padding: 1em;
    margin: 1em 0em 1em 1em;
    width: 47%;
        height:550px;
    }
    @media (max-width: 641px) {
  .column-half {
    width: 92%;
    margin: 1em 1em 0em 1em;
      padding:15px;
      height:auto;
  }
}
    .uc-statement{
        width:90%;
            display: block;
    margin-left: auto;
    margin-right: auto }
    

    @media (max-width: 641px) {
  .uc-statement {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto }
  }

strong{
  font-weight: 700
}
</style>

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
       
      <form action="uc-income-435-handler" method="get" class="form">
      <h1 class="heading-large">Was your take-home pay for your last Universal Credit period £435 or less</h1>
     
      <p>Take-home pay is used to work out your Universal Credit payments.</p>
      <p>If you don't work, your take-home pay will be £0.</p>
   </div>
  </div>

  <details>

    <summary><span class="summary">Where to find your take-home pay</span></summary>
    <div class="grid-row">
    <div class="column-half">
        <h2 class="heading-medium heading-no-margin">
            If you have a Universal Credit account online
        </h2>
        <p>Your take-home pay can be found at the bottom of your online statement.</p>
        <p>It's under the heading <strong>Other support you may be able to get</strong>.</p>
        <img class="uc-statement" src="/public/images/bsa/uc-online.png" alt="an image showing that your take-home pay is towards the bottom of your statement, under the heading 'Other Support you may be able to get" >
      </div>
      <div class="column-half">
        <h2 class="heading-medium heading-no-margin">
          If you get a monthly Universal Credit payment letter
        </h2>
        <p>Your take-home pay is shown on your Universal Credit monthly payment letter.</p>
        <p>It's usually on page 2 under the heading <strong>3. We then take account of your take-home
            pay</strong>.</p>
        <img class="uc-statement" src="/public/images/bsa/uc-statement-letter.png"  alt="an image showing that your take-home pay is on page 2 of your Universal Credit monthly payment letter, under the heading'3. We then take account of your take-home pay'">
      </div>
  </details>            
  <br>

    <div class="form-group">
    
      <fieldset class="inline">
        

        <div class="multiple-choice">
          <input id="yes" type="radio" name="ucIncome435" value="yes">
          <label for="yes">Yes</label>
        </div>

        <div class="multiple-choice">
          <input id="no" type="radio" name="ucIncome435" value="no">
          <label for="no">No</label>
        </div>
        
      </fieldset>  
            
    </div>
          
    <div class="form-group">
      <input class="button" type="submit"  value="Next">
    </div>
  </form>
</main>


{% endblock %}









