{% extends "layout_bsa.html" %}
 

{% block page_title %}
Eligibility Checker
{% endblock %}

{% block content %}

<main id="content" role="main">
   <link rel="stylesheet" href="/public/stylesheets/smart_answers.css">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-large">Do you have an injury or illness caused by serving in the armed forces?</h2>

        <p>The injury or illness can be physical or mental.</p>
        

    <form action="warpension-handler" method="get" class="form">

        <div class="form-group">
          
          <fieldset class="inline">
            <legend class="visually-hidden">
              Do you have injury or illness by serving in the armed forces
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="warpension" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="warpension" value="no">
              <label for="no">No</label>
            </div>
            
          </fieldset>  
          
        </div>
        
        <div class="form-group">
          <input class="button" type="submit"  value="Next">
        </div>

    </form>

    </div>
  </div>

</main>


{% endblock %}








