{% extends "layout_bsa.html" %}
 
{% block page_title %}
Eligibility Checker
{% endblock %}

{% block content %}

<style>
    .after-list{
      Padding-top:1em;
    }

</style>

<main id="content" role="main">
 
  <div class="grid-row">
    <div class="column-two-thirds">
    
        <h1 class="heading-large">While you're waiting on your Universal Credit decision</h1>

        
        <p class="intro-to-list">
          
          Until your first assessment period is complete, Universal Credit doesn't entitle you to help with NHS costs. <br>
<br>
          If you need to pay for any NHS charges, for example, prescriptions or dental treatment, make sure you get a receipt and ask how you can claim a refund. <br>
          <br>
          If you pay for a prescription, ask for a refund receipt called an FP57 when you pay - you can't get one later. </p>

        
          <div class="form-group">
            <a class="button" type="submit"  href ='benefits-type' value = 'Next'> Next </a> 
          </div>
          
    </div>
  </div>
</main>

{% endblock %}
