{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">

              <div class="done-panel">
        
                <h1 class="heading-xlarge" style="margin-top:0"><span id="done-tick"> </span>Done</h1>
                    <h1 class="heading-large" style="margin-top: 0.5em">
                        <span class="heading-secondary" style="color:white">Based on what you've told us</span>
                        You get help with NHS costs
                    </h1>
            </div>
        </div>
    </div>

 

      <div class="grid-row">
        <div class="column-two-thirds">
            <p class="lede">		            
                <span id="result-reason">
                Because you and your partner get Universal Credit and your combined take-home pay was less than £<span>435</span>:</span> 
            </p>
            <h2 class="heading-medium">You get free:</h2>

            <ul class="form-hint-list">
                <li class="form-hint-list-item form-hint-list-item--valid">
                    <span class="form-hint-list-item__indicator"></span> NHS prescriptions
                </li>
                <li class="form-hint-list-item form-hint-list-item--valid">
                    <span class="form-hint-list-item__indicator"></span> NHS dental check-ups and treatment
                </li>
                <li class="form-hint-list-item form-hint-list-item--valid">
                    <span class="form-hint-list-item__indicator"></span> sight tests
                </li>
                <li class="form-hint-list-item form-hint-list-item--valid">
                    <span class="form-hint-list-item__indicator"></span> NHS wigs and fabric supports
                </li>
            </ul>
            <h2 class="heading-medium heading-margin">You get some money off:</h2>

            <ul>
                <li class="form-hint-list-item form-hint-list-item--valid">
                    <span class="form-hint-list-item__indicator"></span> new glasses and contact lenses
                </li>

                <li class="form-hint-list-item form-hint-list-item--valid">
                    <span class="form-hint-list-item__indicator"></span> repairing or replacing your glasses and contact lenses
                </li>
                <li class="form-hint-list-item form-hint-list-item--valid">
                    <span class="form-hint-list-item__indicator"></span> travel for NHS treatment
                </li>
            </ul>
            <br>
            <div class="panel panel-border-narrow" style="padding:0.5rem 2rem 1rem 1rem; margin-bottom:2rem">
                <p>Your partner and any children under 20 included on your Universal Credit claim are also entitled to full help with NHS costs. </p>
            </div>

            <h2 class="heading-medium heading-margin">If you are pregnant or have children</h2>
  
            <ul>
            <li class="form-hint-list-item form-hint-list-item--valid">
               
                As part of the Healthy Start scheme, if you're at least ten weeks pregnant or have a child under the age
                of four, you may be entitled to:
            </li>
            </ul>
        
            <li class="form-hint-list-item form-hint-list-item--valid">
                <span class="form-hint-list-item__indicator"></span>
                £3.10 a week to spend on foods such as cow’s milk, baby formula, fresh or frozen fruit and vegetables
            </li>
            <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>
              free vitamins
          </li>
          <p>Find out more about who qualifies for <a href='https:'>Healthy Start</a></p>





            <hr>

            <div class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    Your take-home pay changes each assessment period. To avoid any possible penalty charge, check before you claim.
                </strong>
            </div>


            <h2 class="heading-medium">How to get your help</h2>
            <span id="help-section-result">You don't have to do anything more, although you may have to show proof you get Universal Credit to your pharmacist, optician or dentist. 
                <p>You can use your latest Universal Credit award notice as proof, this can be either the letter or on your online account.</p>
            </span>

            <hr>
            
            <h2 class="heading-medium">Feedback</h2>
            <p><a rel="noopener" id="finished-survey" href="https://www.snapsurveys.com/wh/s.asp?k=150212725926">What did you think of this service?</a> (Takes 30 seconds)<span class="visually-hidden"> (opens in a new tab)</span></p>
         

        </div>
    <!--<div class="column-one-third">
        <ul class="options-list" style="margin-top: 3em">
            <li><a class="icon print-icon" href="">Print this</a></li>
            <li><a class="icon download-icon" href="">Download this (PDF 55k)</a></li>
        </ul>
    </div> -->

    </div>

</main>

{% endblock %}



