{% extends "layout_bsa.html" %}
 

{% block page_title %}
Eligibility Checker
{% endblock %}

{% block content %}

<style>

.heading-margin{
  margin-top: 1.8em;
}
</style>

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="done-panel">
        <h1 class="heading-xlarge" style="margin-top:0"><span id="done-tick"> </span>Done</h1>
              <h1 class="heading-large" style="margin-top: 0.5em">
        <span class="heading-secondary" style="color:white">Based on what you've told us</span>
        You get help with NHS costs
      </h1>
      </div>

  <p class="lede">
          Because you get Pension Credit Guarantee Credit:
        </p>
        </div>
        </div>
          <div class="grid-row">
    <div class="column-two-thirds">

<h2 class="heading-medium" style="margin-top:0">You get free:</h2>


  <ul class="form-hint-list">
      <li>
          <span style='font-size:15px;'>&#9989;</span>
        NHS prescriptions
    </li>
    <li>
        <span style='font-size:15px;'>&#9989;</span>
        NHS dental check-ups and treatment
    </li>
    <li>
        <span style='font-size:15px;'>&#9989;</span>
        sight tests
    </li>
    <li>
        <span style='font-size:15px;'>&#9989;</span>
        NHS wigs and fabric supports
    </li>
  </ul>
<h2 class="heading-medium">You get money off:</h2>


    <ul>
        <li>
            <span style='font-size:15px;'>&#9989;</span>
       new glasses or contact lenses
    </li>
  

  <li>
      <span style='font-size:15px;'>&#9989;</span>
        repairing or replacing your glasses or contact lenses
    </li>


    <li>
      <span style='font-size:15px;'>&#9989;</span>
        travel for NHS treatment
    </li>
<br>
    <p>If you were referred for this treatment by a GP, hospital doctor, dentist or optician</p>

    <br>
    <div class="panel panel-border-narrow" style="padding:0.5rem 2rem 1rem 1rem; margin-bottom:2rem">
        <p>Any children under 20 included on your Pension Credit Guarantee Credit claim are also entitled to the same help. </p>
    </div>




    <h2 class="heading-medium">If you are pregnant or have children</h2>
  
    <ul>
    <li class="form-hint-list-item form-hint-list-item--valid">
       
        As part of the Healthy Start scheme, if you're at least ten weeks pregnant or have a child under the age
        of four, you may be entitled to:
    </li>
    </ul>
<br>
<li>
    <span style='font-size:15px;'>&#9989;</span>
        £3.10 a week to spend on foods such as cow’s milk, baby formula, fresh or frozen fruit and vegetables
    </li>

    <li>
        <span style='font-size:15px;'>&#9989;</span>
      free vitamins
  </li>
  <br>
  <p>Find out more about who qualifies for <a href='https://www.healthystart.nhs.uk/'>Healthy Start</a></p>







<h2 class="heading-medium">You don't automatically get help towards the cost of:</h2>
        <ul>
            <li>
                <span style='font-size:15px;'>&#10060;</span>
        travel for NHS treatment
    </li>
      </ul>
            <p>You may still get help if your parent or guardian is on <a href="https://www.nhsbsa.nhs.uk/help-travel-eye-care-wigs-and-fabric-support-costs/travel-receive-nhs-treatment">certain benefits</a> or has <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">applied for help with NHS costs</a>.</p>

<hr>
      <h3 class="heading-medium">How to get your help</h3>
      <p>In most circumstances you won't have to do anything as your date of birth will be on your medical records and will show your age.</p>
      <p>You may have to show proof that you are in full time education, like a recent letter from school or college.</p>
      <h3 class="heading-small">To get your free prescriptions</h3>
      <p>Tick box B (second box down) on the back of the prescription form.</p>

      </div>
       <div class="column-one-third">

        <ul class="options-list" style="margin-top: 0.5em">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
        <li><a class="icon download-icon" href="">Download this page</a></li>
      </ul>

      </div>

  </div>

</main>

{% endblock %}
