{% extends "layout_bsa.html" %}
 

{% block page_title %}
Eligibility Checker
{% endblock %}

{% block content %}

<style>
  .after-list{
    padding-top: 0.8em;
}
.heading-margin{
  margin-top: 1.8em;
}

</style>
<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="done-panel">
        <h1 class="heading-xlarge" style="margin-top:0"><span id="done-tick"> </span>Done</h1>
              <h1 class="heading-large" style="margin-top: 0.5em">
        <span class="heading-secondary" style="color:white">Based on what you've told us</span>
        You get help with NHS costs
      </h1>
      </div>


      </div>
      </div>


        <p class="lede">
          Because you're under 16:
        </p>
          <div class="grid-row">
    <div class="column-two-thirds">
<h2 class="heading-medium" style ="margin-top: 0">You get free:</h2>

        <ul class="form-hint-list">

           
    <li class="form-hint-list-item form-hint-list-item--valid">
        
        <span style='font-size:15px;'>&#9989;</span>
        NHS prescriptions
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        
        <span style='font-size:15px;'>&#9989;</span>
        NHS dental check-ups and treatment
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        
        <span style='font-size:15px;'>&#9989;</span>
        sight tests
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        
        <span style='font-size:15px;'>&#9989;</span>
        NHS wigs and fabric supports
    </li>

        </ul>
<h2 class="heading-medium">You get money off:</h2>
<!--          <p class="after-list">
           You also get some money off the cost of:</p> -->
    <ul>
    <li class="form-hint-list-item form-hint-list-item--valid">
       
        <span style='font-size:15px;'>&#9989;</span>
       new glasses or contact lenses
    </li>
    </ul>

    <li class="form-hint-list-item form-hint-list-item--valid">
  
        <span style='font-size:15px;'>&#9989;</span>
        repairing or replacing your glasses or contact lenses

    </li>

    <h2 class="heading-medium">If you are pregnant or have children</h2>
  
        <ul>
        <li class="form-hint-list-item form-hint-list-item--valid">
           
            As part of the Healthy Start scheme, if you're at least ten weeks pregnant or have a child under the age
            of four, you may be entitled to:
        </li>
        </ul>
    
        <li class="form-hint-list-item form-hint-list-item--valid">
           
            £3.10 a week to spend on foods such as cow’s milk, baby formula, fresh or frozen fruit and vegetables
        </li>
        <li class="form-hint-list-item form-hint-list-item--valid">
         
          free vitamins
      </li>
      <p>Find out more about who qualifies for <a href='https:'>Healthy Start</a></p>



<h2 class="heading-medium">You don't automatically get help towards the cost of:</h2>
        <ul>
    <li class="form-hint-list-item form-hint-list-item--false">
       
        travel for NHS treatment
    </li>
      </ul>
      <p>You may still get help if your parent or guardian is on <a href="https://www.nhsbsa.nhs.uk/help-travel-eye-care-wigs-and-fabric-support-costs/travel-receive-nhs-treatment">certain benefits</a> or has <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme">applied for help with NHS costs</a>.</p>
<!-- <p>If your parent or guardian gets <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/free-nhs-prescriptions">certain benefits</a> or <a href="">have little money to spend on living expenses</a>, you may still be able to get help to pay for travel.  </p> -->

<hr>
      <h3 class="heading-medium">How to get your help</h3>
      <p>In most circumstances you won't have to do anything as your date of birth will be on your medical records and will show your age.</p>
      <h3 class="heading-small">To get your free prescriptions</h3>
      <p>Tick box A (first box down) on the back of the prescription form.</p>

      </div>
       <div class="column-one-third">

        <ul class="options-list" style="margin-top: 0.5em">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
        <li><a class="icon download-icon" href="">Download this page</a></li>
      </ul>

      </div>
    </div>

</main>

{% endblock %}
