{% extends "layout_bsa.html" %}

{% block page_title %}
Eligibility Checker
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">NHSBSA Design</span>
          Eligibility Checker
        </h1>

  <h2 class="heading-medium">Prototype</h2>

  <table>
    <thead>
      <tr>
        <th>Link</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="eligibility_checker/start.html">Start page</a></td>
        <td>Start page of your service</td>
      </tr>

     
     

       

       

    </tbody>
  </table>

  
  </div>

</div>

</main>

{% endblock %}


