{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
  <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">NHSBSA Design</span>
          Prototype template
        </h1>

  <h2 class="heading-medium">Common pages</h2>

  <table>
    <thead>
      <tr>
        <th>Link</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="common-pages/start-page">Start page</a></td>
        <td>Start page of your service</td>
      </tr>

      <tr>
        <td><a href="common-pages/name">Name page</a></td>
        <td>Full name</td>
      </tr>

      <tr>
        <td><a href="common-pages/dob">Date of birth page</a></td>
        <td>Date of birth</td>
      </tr>

      <tr>
        <td><a href="common-pages/post-address">Postal address page</a></td>
        <td>Address</td>
      </tr>

      <tr>
        <td><a href="common-pages/nhs-number">NHS number</a></td>
        <td>Asking for an NHS number</td>
      </tr>

       <tr>
        <td><a href="common-pages/yes-no">Yes or no question</a></td>
        <td>Asking a yes or no question</td>
      </tr>

       <tr>
        <td><a href="common-pages/check-your-answers">Check your answers page</a></td>
        <td>For each end of section/ application</td>
      </tr>

    </tbody>
  </table>

  
  </div>

</div>

</main>

{% endblock %}


